<div class="row">
  <div class="col-md-4">
    <h3> Users </h3>
    <%= line_chart User.group_by_day(:created_at).count %>
  </div>
  <div class="col-md-4">
    <h3> Partners being ordered </h3>
    <%= pie_chart Order.group(:partner).count %>
  </div>
  <div class="col-md-4">
    <h3> Top products </h3>
    <table class="table">
      <tr>
        <th> Product </th>
        <th> Count </th> 
      </tr>
      <% Product.order(total_orders: :desc).limit(5).each do |p| %>
        <tr>
          <td> <%= p.name %> </td>
          <td> <%= p.total_orders %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3> Orders per hour </h3>
    <%= column_chart Order.group_by_hour(:ordered_at).count %>
  </div>
  <div class="col-md-4">
    <h3> Orders per Day </h3>
    <%= column_chart Order.group_by_day(:ordered_at).count %>
  </div>
  <div class="col-md-4">
    <h3> Orders per week </h3>
    <%= column_chart Order.group_by_week(:ordered_at).count %>
  </div>
</div>
